# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [30]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [11]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Vacation_search/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("WeatherPy_Database.csv")

# Display sample data
city_data_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Albany,42.6001,-73.9662,70.36,few clouds,74,22,1.01,US
1,1,Novyy Urgal,51.0736,132.5642,26.60,overcast clouds,87,91,0.51,RU
2,2,Yellowknife,62.4560,-114.3525,50.56,broken clouds,81,75,8.05,CA
3,3,Clyde River,70.4692,-68.5914,21.43,few clouds,73,20,13.80,CA
4,4,Provideniya,64.3833,-173.3000,36.57,overcast clouds,66,85,9.15,RU
5,5,Busselton,-33.6500,115.3333,47.44,broken clouds,79,81,3.76,AU
6,6,Vila,42.0304,-8.1588,61.70,scattered clouds,59,39,3.40,PT
7,7,Selikhino,50.3672,137.4996,32.14,clear sky,81,7,4.65,RU
8,8,Pevek,69.7008,170.3133,26.40,overcast clouds,71,100,22.57,RU
9,9,Karangasem,-8.4500,115.6167,76.48,light rain,91,100,6.20,ID

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [12]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [13]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Albany,42.6001,-73.9662,70.36,few clouds,74,22,1.01,US
9,9,Karangasem,-8.4500,115.6167,76.48,light rain,91,100,6.20,ID
10,10,Ponta Do Sol,32.6667,-17.1000,75.70,few clouds,89,23,6.02,PT
12,12,Rach Gia,10.0167,105.0833,79.45,overcast clouds,83,100,5.95,VN
15,15,Kolaras,25.2333,77.6000,73.47,overcast clouds,91,100,10.36,IN
18,18,Vaini,-21.2000,-175.2000,73.56,overcast clouds,94,100,6.91,TO
21,21,Wanning,18.8003,110.3967,78.13,overcast clouds,88,100,5.28,CN
22,22,Abomsa,9.9833,39.9833,74.86,broken clouds,45,82,7.58,ET
23,23,Meulaboh,4.1363,96.1285,75.49,overcast clouds,86,100,3.40,ID
28,28,Kapaa,22.0752,-159.3190,79.11,clear sky,81,0,4.61,US

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [21]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Lat,Lng,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Albany,42.6001,-73.9662,70.36,few clouds,74,22,1.01,US
9,9,Karangasem,-8.4500,115.6167,76.48,light rain,91,100,6.20,ID
10,10,Ponta Do Sol,32.6667,-17.1000,75.70,few clouds,89,23,6.02,PT
12,12,Rach Gia,10.0167,105.0833,79.45,overcast clouds,83,100,5.95,VN
15,15,Kolaras,25.2333,77.6000,73.47,overcast clouds,91,100,10.36,IN
18,18,Vaini,-21.2000,-175.2000,73.56,overcast clouds,94,100,6.91,TO
21,21,Wanning,18.8003,110.3967,78.13,overcast clouds,88,100,5.28,CN
22,22,Abomsa,9.9833,39.9833,74.86,broken clouds,45,82,7.58,ET
23,23,Meulaboh,4.1363,96.1285,75.49,overcast clouds,86,100,3.40,ID
28,28,Kapaa,22.0752,-159.3190,79.11,clear sky,81,0,4.61,US

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [23]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

            City Country  Max Temp Current Description      Lat       Lng
0         Albany      US     70.36          few clouds  42.6001  -73.9662
9     Karangasem      ID     76.48          light rain  -8.4500  115.6167
10  Ponta Do Sol      PT     75.70          few clouds  32.6667  -17.1000
12      Rach Gia      VN     79.45     overcast clouds  10.0167  105.0833
15       Kolaras      IN     73.47     overcast clouds  25.2333   77.6000
18         Vaini      TO     73.56     overcast clouds -21.2000 -175.2000
21       Wanning      CN     78.13     overcast clouds  18.8003  110.3967
22        Abomsa      ET     74.86       broken clouds   9.9833   39.9833
23      Meulaboh      ID     75.49     overcast clouds   4.1363   96.1285
28         Kapaa      US     79.11           clear sky  22.0752 -159.3190

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [24]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,70.36,few clouds,42.6001,-73.9662,
9,Karangasem,ID,76.48,light rain,-8.4500,115.6167,
10,Ponta Do Sol,PT,75.70,few clouds,32.6667,-17.1000,
12,Rach Gia,VN,79.45,overcast clouds,10.0167,105.0833,
15,Kolaras,IN,73.47,overcast clouds,25.2333,77.6000,
18,Vaini,TO,73.56,overcast clouds,-21.2000,-175.2000,
21,Wanning,CN,78.13,overcast clouds,18.8003,110.3967,
22,Abomsa,ET,74.86,broken clouds,9.9833,39.9833,
23,Meulaboh,ID,75.49,overcast clouds,4.1363,96.1285,
28,Kapaa,US,79.11,clear sky,22.0752,-159.3190,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [28]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [32]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Albany,US,70.36,few clouds,42.6001,-73.9662,
9,Karangasem,ID,76.48,light rain,-8.4500,115.6167,Villa Campuhan
10,Ponta Do Sol,PT,75.70,few clouds,32.6667,-17.1000,Hotel do Campo
12,Rach Gia,VN,79.45,overcast clouds,10.0167,105.0833,Nhà Hàng Hòa Giang
15,Kolaras,IN,73.47,overcast clouds,25.2333,77.6000,Shiv Shakti Garden (Gayatri Colony)
18,Vaini,TO,73.56,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
21,Wanning,CN,78.13,overcast clouds,18.8003,110.3967,Paradise Hotel
22,Abomsa,ET,74.86,broken clouds,9.9833,39.9833,
23,Meulaboh,ID,75.49,overcast clouds,4.1363,96.1285,Kost Pria
28,Kapaa,US,79.11,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [58]:
# Drop the rows where there is no Hotel Name.
indexnames = hotel_df[hotel_df["Hotel Name"] == ""].index
hotel_df.drop(indexnames, inplace = True)
clean_hotel_df = hotel_df
# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Karangasem,ID,76.48,light rain,-8.4500,115.6167,Villa Campuhan
10,Ponta Do Sol,PT,75.70,few clouds,32.6667,-17.1000,Hotel do Campo
12,Rach Gia,VN,79.45,overcast clouds,10.0167,105.0833,Nhà Hàng Hòa Giang
15,Kolaras,IN,73.47,overcast clouds,25.2333,77.6000,Shiv Shakti Garden (Gayatri Colony)
18,Vaini,TO,73.56,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
21,Wanning,CN,78.13,overcast clouds,18.8003,110.3967,Paradise Hotel
23,Meulaboh,ID,75.49,overcast clouds,4.1363,96.1285,Kost Pria
28,Kapaa,US,79.11,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,San Quintin,MX,74.05,clear sky,30.4833,-115.9500,Don Eddie's Sport Fishing Center
38,Akyab,MM,81.46,few clouds,20.1500,92.9000,ဟိုတယ် မန်မိုရီ

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [61]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [62]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [63]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Villa Campuhan</dd>\n<dt>City</dt><dd>Karangasem</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>light rain and 76.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.7 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nhà Hàng Hòa Giang</dd>\n<dt>City</dt><dd>Rach Gia</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shiv Shakti Garden (Gayatri Colony)</dd>\n<dt>City</dt><dd>Kolaras</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Hotel</dd>\n<dt>City</dt><dd>Wanning</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Kost Pria</dd>\n<dt>City</dt><dd>Meulaboh</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.49 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.11 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Don Eddie's Sport Fishing Center</dd>\n<dt>City</dt><dd>San Quintin</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>clear sky and 74.05 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>ဟိုတယ် မန်မိုရီ</dd>\n<dt>City</dt><dd>Akyab</dd>\n<dt>Country</dt><dd>MM</dd>\n<dt>Current Weather</dt><dd>few clouds and 81.46 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [64]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
9   -8.4500  115.6167
10  32.6667  -17.1000
12  10.0167  105.0833
15  25.2333   77.6000
18 -21.2000 -175.2000
21  18.8003  110.3967
23   4.1363   96.1285
28  22.0752 -159.3190
29  30.4833 -115.9500
38  20.1500   92.9000

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [70]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))